<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLSIzBgzR8cQPjJKtRz2IZ0nkhQa0o7oo</string>
	<key>GCM_SENDER_ID</key>
	<string>616075719678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hanghaeAthletic</string>
	<key>PROJECT_ID</key>
	<string>hanghae-bae7d</string>
	<key>STORAGE_BUCKET</key>
	<string>hanghae-bae7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616075719678:ios:0e32278b045ba55b6546af</string>
</dict>
</plist>